<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <div id="item_in_cart_<%= item.id%>">
      <p><%= item.product.name %> |

      <%= link_to(order_item_path(item), :method => "delete", remote: true) do%>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
      </p>
      <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
    </div>

  <% end %>

    <h4 id ="cart_total">Your Total: <%= number_to_currency current_order.total_price %></h4>


<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>

<%= link_to 'Proceed to Checkout', new_charge_path, class: 'btn btn-outline-success' %>
