<% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product) %> | <%= number_to_currency product.price %></p>
  <% if product.stock < 10 %>
    <h5>Low in stock <%= product.stock%></h5>
  <% end %>
  <%= simple_form_for [@order_item] do |f| %>
   <%= f.input :product_id, :as => :hidden, :input_html => { :value => product.id } %>
   <%= f.input :quantity %>
   <%= f.button :submit, "Add to cart", class: 'btn-outline-success' %>
  <% end %>
  <br>
    <% if favorite = Favorite.find_by_product_id(current_user, product.id)[0] %>
      <%= link_to 'Unlike', product_favorite_path(product, favorite), method: 'delete', id: "unlike_btn_#{product.id}", class: 'btn btn-outline-primary', remote: true %>
      <%= link_to 'Like', new_product_favorite_path(product), id: "like_btn_#{product.id}", class: 'btn btn-outline-primary hidden_btn', remote: true %>
      
    <% else %>
      <%= link_to 'Like', new_product_favorite_path(product), id: "like_btn_#{product.id}", class: 'btn btn-outline-primary', remote: true %>

    <% end %>


  <hr>
<% end %>
