<% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product) %> | <%= number_to_currency product.price %></p>
  <% if product.stock < 10 %>
    <h5>Low in stock <%= product.stock%></h5>
  <% end %>
  <%= simple_form_for [@order_item] do |f| %>
   <%= f.input :product_id, :as => :hidden, :input_html => { :value => product.id } %>
   <%= f.input :quantity %>
   <%= f.button :submit, "Add to cart", class: 'btn-outline-success' %>
  <% end %>
  <br>
    <%= link_to 'Unlike', unlike_product_path(product), method: 'post', id: "unlike_btn_#{product.id}", class: 'btn btn-outline-primary ' + (if is_product_liked(product) then '' else 'hidden_btn' end), remote: true %>
    <%= link_to 'Like', like_product_path(product), method: 'post', id: "like_btn_#{product.id}", class: 'btn btn-outline-primary '+ (if is_product_liked(product) then 'hidden_btn' else '' end), remote: true %>
  <hr>
<% end %>
