<!DOCTYPE html>
<html>
  <head>
    <title>WineStore</title>
    <meta name="stripe-key" content="<%= ENV['STRIPE_PUB_KEY'] %>" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Wine Store</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <% if !current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Sign In</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out" data-method='delete'>Sign Out</a>
            </li>
          <% end %>
        </ul>
        <div class="navbar-text navbar-right">
          <% if current_user %>
            <%= link_to current_order.item_number, cart_path %> Items | <%= number_to_currency current_order.total_price %> | <%= link_to 'Profile', account_path(current_user.account) %>
          <% end %>
        </div>

      </div>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

    <% if current_user && current_user.admin %>
      <footer class="footer">
        <div class="container text-right">
          <h5>Admin</h5>
          <%= link_to "Add New Product", new_product_path %>
        </div>
      </footer>
    <% end %>

  </body>
</html>
